
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <link href="{% static 'webApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
   <!-- Styles -->
   <link href="{% static 'webApp/css/styles.css' %}" rel="stylesheet">

  <title>ejercicio polotic</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Portal Web</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

  
  {% block content %}  {% endblock %}  

  <!-- Footer -->
  <footer class="footer text-faded text-center py-5">
            
      <p > Hecho x mi - Junio 2021</p>
    
</footer>

<!-- Bootstrap -->
<script src="{% static 'webApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  
</body>
</html>