
<html lang="en">

    <body>
        <div>
            <header>
                <h1>EmpresaX</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'vista1' %}">vista uno</a>
                        </li>
                        <li>
                            <a href="{% url 'vista2' %}">vista dos</a>
                        </li>
                        <li>
                            <a href="{% url 'vista3' %}">vista tres</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    
       {% block content %} 

       {% endblock %}  
    
        <div>
            <footer>Hecho x mi - 2021</footer>
        </div>
        
    
    </body>
    </html>