{% extends "webApp/base.html" %}  

{% load static %} 

{% block content %} 

    <div class="container">

        <div class="row text-center">
            <img src="{% static 'webApp/img/asustado.jpeg' %}" class="align-items-lg-center" alt="..." style="width: 50%;">
            <p>Et nam provident assumenda modi! Cumque, eos quam quibusdam illo iste voluptas, ducimus modi, accusantium consectetur odit laboriosam perspiciatis excepturi quia sunt.</p>
          </div>
     
    </div>
  


    {% endblock %}  

