{% extends "webApp/base.html" %}  

{% load static %} 

{% block content %} 

    <div class="container">

        <div class="col-12 ">
            <h1 class="row align-items-md-start pt-5">Home del Portal</h1>
            <h3 class="row pt-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime mollitia doloremque numquam rerum enim distinctio nesciunt itaque impedit aperiam quas libero maiores vitae perferendis fuga vel nam, soluta corrupti.</h3>
     </div>
     
    </div>
  


    {% endblock %}  

